
<h2>Manage Company Details</h2>




<div class="row" style="background:white;">
    <div class="col-md-6">
        <h3>General Info</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Company Name</label>
                    <input ng-model="companyinfo.companyName" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Registration Number</label>
                    <input ng-model="companyinfo.registrationNo" type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contact 1</label>
                    <input ng-model="companyinfo.contact1" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contact 2</label>
                    <input ng-model="companyinfo.contact2" type="text" class="form-control" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address</label>
                    <textarea rows="5" cols="50" ng-model="companyinfo.address" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <!--<div class="form-group">
                    <label>Notes</label>
                    <textarea ng-model="companyinfo.notes" class="form-control"></textarea>
                </div>-->
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Terms</label>
                    <textarea ng-model="companyinfo.termsNConditions" class="form-control"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Footer text</label>
                    <textarea ng-model="companyinfo.footerText" class="form-control"></textarea>
                </div>
            </div>

        </div>

        <div class="row">
            

            <div class="col-md-6">
                
            </div>

        </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
        <h3>Appearance Info</h3>

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label>Select Logo</label>
                    <button id="fileChoose" class="btn btn-warning"> <i class="fa fa-picture-o"></i> Choose File</button>
                    <input type='file' id="file" style="visibility:hidden"/>
                    <img id="blah" src="#" alt="your image" />
                </div>
               
            </div>
        </div>

        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a ng-click="saveinfo()" ng-if="isSAving==false" ng-disabled="companyinfo.companyName=='' || companyinfo.registrationNo==''" class="btn btn-primary"> <i class="fa fa-check"></i> Save </a>
        <a ng-disabled="true" ng-if="isSAving==true" class="btn btn-primary"> <i class="fa fa-check fa-spin"></i> Save </a>
        <a class="btn btn-danger"> <i class="fa fa-times"></i> Cancel </a>
    </div>
</div>


<div id="overlay">
    <div class="loaderDiv">
        <div class="row">
            <img src="../../loader.gif" />
            <!--<div class="loader"></div>-->
        </div>
    </div>
</div>


<div class="getcompanyinfo">
   
    <p> <i class="fa fa-spin fa-spinner"></i> Fetching data please wait... </p> 

</div>

<style>
    .getcompanyinfo
    {
        position:fixed;
        z-index:100;
        left:0;
        right:0;
        padding:10px;
        padding-top:13px;
        padding-bottom:13px;
        background:#333;
        bottom:0;
        text-align:center;
        font-family:monospace;
        display:none;
      
    }

    .getcompanyinfo p
    {
        color:#fff;
        margin-bottom:0
    }
</style>



<style>
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.2); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    .loaderDiv {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1000;
    }


    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>







<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();


            $("#blah").show();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>









