    


<div style="margin-bottom:0" class="row">
    <div class="col-md-12">
        <h3>Welcome to SHIVAM Invoicing</h3>
    </div>
</div>




<div class="row">
    <div class="col-xs-6">
        <div class="well green">
            <p>
                <i class="fa fa-globe"></i>
            </p>
            <a href="#/CompanyDetails">
                My Company

            </a>
         
        </div>
    </div>
    <div class="col-xs-6">
        <div class="well red">
            <p>
                <i class="fa fa-columns"></i>
            </p>
            <a href="#/SelectFields">
                My Fields

            </a>

        </div>

    </div>
</div>


<div class="row">
    <div class="col-xs-6">
        <div class="well indigo">
            <p>
                <i class="fa fa-file-text"></i>
            </p>
            <a href="#/InvoiceDetails">
                My Invoice
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="well amber">
            <p>
                <i class="fa fa-plus"></i>
            </p>
            <a href="#/invoice">
                Add Invoice
            </a>

        </div>

    </div>
</div>






<table class="stickybtn">
    <tr>
        <td>
            <p> <i class="fa fa-globe"></i> </p>
            <span>
                My Company
            </span>
        </td>
        <td>
            <p> <i class="fa fa-columns"></i> </p>
            <span>
                My Fields
            </span>
        </td>
        <td>
            <p> <i class="fa fa-file-text"></i> </p>
            <span>
                My Invoice
            </span>
        </td>
        <td>
            <p> <i class="fa fa-plus"></i> </p>
            <span>
              Add Invoice
            </span>
        </td>
    </tr>
</table>

<style>
    .stickybtn {
        width: 100%;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background: rgba(51, 51, 51, 0.8);
        position:fixed;
        bottom:0;
    }

        .stickybtn td {
            text-align: center;
            padding-top: 7px;
            padding-bottom: 7px;
            border-right: 1px solid #484747;
        }



        .stickybtn i {
            color: #e0e0e0;
            font-size: 17px;
        }

    .stickybtn p
    {
        margin-bottom:5px;
        color:#f2f2f2 !important; 
    }


        .stickybtn span {
            margin-bottom: 5px;
            color: #f2f2f2 !important;
        }

    h3  
    {
        font-size:18px;
        margin-top:10px;
        margin-bottom:20px;
    }

    .well
    {
        text-align:center;
        padding:0;
        padding-top:30px;
        margin-bottom:0;
  
       
    }

    .well i
    {
        font-size:60px;
        color:#fff;
        margin-bottom:25px;
    }

        .well a {
            color: #fff;
            font-size: 20px;
            text-decoration: none !important;
            background: rgba(51, 51, 51, 0.2);
            display:block;
            padding-top:20px;
            padding-bottom:20px;
        }

        .col-xs-6
        {
            padding-bottom:0;
        }

 
</style>


