

<div class="hidden-print">

    <div style="margin-bottom:3px;" ng-show="showBillDetailArea == false" class="row">
        <div class="col-xs-6">
            <h2>All Invoices</h2>
        </div>
        <div style="text-align:right" class="col-xs-6">
            <a ng-show="showBillDetailArea == false" href="#/invoice" class="btn btn-success Addinvbtn">+  </a>
        </div>
    </div>


</div>

<div id="BillPrint">


    <div ng-show="showBillDetailArea == false">

        <div class="filtersection">

            <div class="row">
                <div class="col-md-2">
                    <p>Start date </p>
                </div>
                <div class="col-md-2">
                    <input type="text" id="from" class="form-control" ng-model="startDate" />
                </div>
                <div class="col-md-2">
                    <p>End Date </p>
                </div>
                <div class="col-md-2">
                    <input type="text" id="to" class="form-control" ng-model="endDate" />
                </div>



                <div class="col-md-4">

                    <a class="btn btn-primary" ng-click="filterBillDetails()"> <i class="fa fa-filter"></i> Filter </a>
                    <a class="btn btn-danger" ng-click="ClearFilter()"> <i class="fa fa-times"></i> Clear  </a>

                </div>
            </div>


            <!--<div class="col-md-1">



            </div>

            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Type Company ID to filter" name="name" value="" />
            </div>-->
        </div>


        <div ng-repeat="obj in renderingArray" class="well">

            <div class="row">
                <div class="col-xs-6">
                    Invoice ID
                </div>
                <div class="col-xs-6">
                    {{obj.invoiceNo}} <a style="font-size:12px; float:right;" ng-click="BillDetails(obj)"> Detail </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">Amount</div>
                <div class="col-xs-6">
                    {{obj.totalAmount}}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    Created Date
                </div>
                <div class="col-xs-6">
                    {{obj.createddate}}
                </div>
            </div>



        </div>


        <div class="row hidden-xs">


            <div class="col-md-12">




                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Invoice Id</th>

                            <th>Bill Subtotal</th>
                            <th>Tax Applied</th>
                            <th> Total </th>
                            <th> Create Date </th>
                            <th> Details </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="obj in renderingArray">
                            <td>{{obj.invoiceNo}}</td>
                            <td>{{obj.subTotal}}</td>
                            <td>{{obj.taxapplied}}%</td>
                            <td>{{obj.totalAmount}}</td>
                            <td>{{obj.createddate}}</td>
                            <td>
                                <a class="btn btn-primary" ng-click="BillDetails(obj)"> <i class="fa fa-info-circle"></i> </a>
                            </td>
                        </tr>

                    </tbody>


                </table>
            </div>




        </div>
    </div>


    <div ng-show="showBillDetailArea == true">
        <div style="margin-bottom:5px;" class="row">
            <div class="col-md-6 col-xs-4">

                <img style="height:85px; width:90px; display:initial; margin-top:4px;" id="logodata" src="content/logo.png" alt="Alternate Text" />

            </div>
            <div class="col-md-6 col-xs-8">
                <div>
                    <h4> <b> {{companyinfo.companyName}}</b></h4>
                    <p style="margin-bottom:5px;">{{companyinfo.contact1}}, {{companyinfo.contact2}}</p>
                    <p>{{companyinfo.address}}</p>
                </div>
            </div>
        </div>
        <div style="margin-bottom:5px;" class="row">
            <div class="col-md-6">
                <div class="detailsection well">

                    <h4>Invoice Details </h4>

                    <div class="innercontent">
                        <div>


                            <p>Invoice Number : {{DetailBillObject.invoiceNo}}</p>
                            <p>Invoice date :  {{DetailBillObject.invoiceDate}}</p>

                            <p>{{DetailBillObject.notes}}</p>


                        </div>

                        <div ng-show="editinvoice==true">

                            <textarea placeholder="Put few text regarding to Invoice" ng-model="DetailBillObject.notes" class="form-control"></textarea>

                        </div>
                    </div>



                </div>


            </div>
            <div class="col-md-6">
                <div class="well detailsection">





                    <h4> Customer details </h4>



                    <div class="innercontent">

                        <div>
                            <p> {{DetailBillObject.customer.name}}</p>
                            <p>  {{DetailBillObject.customer.contactNumber}}</p>
                            <p> {{DetailBillObject.address}} </p>
                        </div>



                    </div>

                </div>


            </div>



        </div>








        <!--<div>
            <p>Invoice Number : {{DetailBillObject.invoiceNo}}</p>
            <div class="pull-right">
                <p>Customer Name : {{DetailBillObject.customer.name}}</p>
                <p>Customer Contact : {{DetailBillObject.customer.contactNumber}}</p>
                <p>Customer Adress : {{DetailBillObject.customer.address}}</p>
            </div>
        </div>-->

        <div class="well">

            <h4 style="margin-top:0;" class="mobile-center">Invoice Summary</h4>
            <table class="table table-bordered hidden-xs">
                <thead>
                    <tr>
                        <th ng-repeat="head in Header">
                            {{head.columnname}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="col in ColumnDataArray">
                        <td ng-repeat="data in col">{{data.Value}}</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>


            <div class="summary">
                <div ng-repeat="col in ColumnDataArray" class="row">
                    <div class="col-xs-6">
                        <p style="text-align:right;" ng-repeat="head in Header">
                            {{head.columnname}}
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p ng-repeat="data in col">{{data.Value}}</p>
                    </div>
                </div>
            </div>





            <table style="width:100%; background:#ccc;">
                <tr>



                    <td>
                        <div class="">

                            <div style="margin-bottom:0; padding-top:7px;" class="row">
                                <div class="col-xs-6">
                                    <p style="text-align: right;"> <b> Sub Total </b></p>
                                </div>
                                <div class="col-xs-6">
                                    <p> <b> {{DetailBillObject.subTotal}} </b></p>
                                </div>
                            </div>
                            <div style="margin-bottom:0" class="row">
                                <div class="col-xs-6">
                                    <p style="text-align: right;"><b> Tax% </b></p>
                                </div>
                                <div class="col-xs-6">
                                    <p> {{DetailBillObject.taxapplied}} </p>
                                </div>
                            </div>
                            <div style="margin-bottom:0" class="row">
                                <div class="col-xs-6">
                                    <p style="text-align: right;"> <b> Total </b></p>
                                </div>
                                <div class="col-xs-6">
                                    <p>  <b> {{DetailBillObject.totalAmount}} </b> </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="visible-print">
            <h3 class="termheading" style="margin-top:0;">Terms and conditions</h3>
            <p style="white-space: pre-line; margin-top: -19px; padding-left: 11px; margin-bottom: 25px;">
                {{companyinfo.termsNConditions}}
            </p>

        </div>
        <!--<div>
            <p>Sub Total : {{DetailBillObject.subTotal}}</p>
            <p>Tax : {{DetailBillObject.taxapplied}}</p>
            <p>Total : {{DetailBillObject.totalAmount}}</p>
        </div>-->

        <div>

            <a class="btn btn-primary" ng-click="showBillDetailArea=false;"> <i class="fa fa-arrow-left"></i> Back</a>

            <a ng-click="PrintData()" class="btn btn-warning"><i class="fa fa-print"></i> Print </a>
        </div>
    </div>


</div>

<style>
    .btn {
        padding:6px 12px;
    }

    .filtersection p
    {
        line-height:32px;
    }

    .col-md-2
    {
        padding-right:0;
    }

    .filtersection {
        margin-bottom: 0;
        background: #dcdcdc;
        padding-top: 20px;
        padding-bottom:1px;
    }

    .filtersection .form-control
    {
        margin-bottom:0px;
    }

    .well
    {
      
        padding:10px;
        margin-bottom:7px;
        
    }

        .well .row
        {
            margin-bottom:3px;
        }
        
        
         .detail-btn {
        }

    .filtersection p
    {
        margin-bottom:0;
    }

    .summary .row:nth-child(odd) {
        background-color: #eaeaea;
    }

    .summary .row:nth-child(odd) {
        background-color: #f2f2f2;
    }

</style>